{% extends 'pages/base.html' %}

{% block title %}Ajout de corde{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col s12 m6 l3">
      <a href="/recherche/corde/{{corde_id}}" class="waves-effect waves-light btn light-blue darken-2">
        <i class="material-icons left">arrow_back</i>Retour</a>
    </div>
  </div>
  <div class="center addbox">
    <h3>Contrôle de corde</h3>
    {% from "pages/_formhelpers.html" import render_field %}
    <form method=post>
      <dl>
        {{ render_field(form.date) }}
        {{ render_field(form.remarques) }}
        <dt>{{ form.usure.label }}
        <div class="row">
          {% for subfield in form.usure %}
          <p class="col s3">
            <label>
              {{ subfield }}
              <span>{{ subfield.label }}</span>
            </label>
          </p>
          {% endfor %}
        </div>

        <dt>{{ form.brulures.label }}
        <div class="row">
          {% for subfield in form.brulures %}
          <p class="col s3">
            <label>
              {{ subfield }}
              <span>{{ subfield.label }}</span>
            </label>
          </p>
          {% endfor %}
        </div>

        <dt>{{ form.coupures.label }}
        <div class="row">
          {% for subfield in form.coupures %}
          <p class="col s3">
            <label>
              {{ subfield }}
              <span>{{ subfield.label }}</span>
            </label>
          </p>
          {% endfor %}
        </div>

        <dt>{{ form.peluches.label }}
        <div class="row">
          {% for subfield in form.peluches %}
          <p class="col s3">
            <label>
              {{ subfield }}
              <span>{{ subfield.label }}</span>
            </label>
          </p>
          {% endfor %}
        </div>
        {{ render_field(form.ame) }}
      </dl>
      <p><input type=submit value="Ajouter" class="btn-large light-blue darken-2"></p>
    </form>
  </div>
</div>
{% endblock %}
