{% extends 'pages/base.html' %}

{% block title %}EPI{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col s6 m6 l3">
			<a href="/recherche/genre" class="waves-effect waves-light btn light-blue darken-2">
				<i class="material-icons left">arrow_back</i>Retour</a>
		</div>
	</div>
	<div class="center addbox">
		<h1>{{marque}}: {{modele}} {{marquage}}</h1>

		<div class="row">
			<!-- STOCKAGE -->
			{% if not has_rebut_date %}
			<div class="col s12 m12 l6 left">
				<div class="card">
					<div class="card-content">
						<span class="card-title"><b>Stockage: {{ stockage }}</b></span>
					</div>
					<div class="card-action">
						<form method="post">
							<button type="submit" name="visit-stockage" id="visit-stockage" class="btn-large light-blue darken-2">
								<i class="material-icons left">storage</i>Voir le stockage
							</button>
							<div class="row">
								<div class="col s12 m6 l8 offset-m3 offset-l2">
									<p>
										<ul class="collapsible">
											<li>
												<div class="collapsible-header light-blue darken-2 white-text">
													<i class="material-icons left">transfer_within_a_station</i>DÉPLACER
												</div>
												<div class="collapsible-body">
													<form method="post">
														{% from "pages/_formhelpers.html" import render_field %}
														{{ render_field(form.stockage) }}
														<p><input type=submit value="Déplacer" class="btn-large light-blue darken-2"></p>
													</form>
												</div>
											</li>
										</ul>
									</p>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			{% else %}
			<div class="col s12 m12 l6 left">
				<div class="card red lighten-2">
					<div class="card-content white-text">
						<span class="card-title"><b>EPI AU REBUT</b></span>
					</div>
				</div>
			</div>
			{% endif %}

			<!-- CONTROLES -->
			<div class="col s12 m12 l6 left">
				<div class="card">
					<div class="card-content">
						<span class="card-title"><b>Contrôles</b></span>

						{% if controles != [] %}
						<table>
							<thead>
								<th>Date</th>
							</thead>
							<tbody>
								{% for controle in controles %}
								<tr>
									<td>{{controle.date}}</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
						{% endif %}
					</div>
					{% if not has_rebut_date %}
					<div class="card-action">
						<form method="post">
							<div class="row">
								<button type="submit" name="controle" id="controle" class="btn-large light-green darken-2">
									<i class="material-icons left">check</i>Valider l'état
								</button>
								<button type="submit" name="rebut" id="rebut" class="btn-large red lighten-2">
									<i class="material-icons left">delete</i>Mettre au rebut
								</button>
							</div>
						</form>
					</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</div>

</div>
{% endblock %}



{% block scripts %}
<script type="text/javascript">
	document.addEventListener('DOMContentLoaded', function() {
		var elems = document.querySelectorAll('.collapsible');
		console.log("Hello");
		var instances = M.Collapsible.init(elems, {accordion: true});
	});
</script>
{% endblock %}
