{% extends 'pages/base.html' %}

{% block title %}Maintenance VOL{% endblock %}

{% block content %}
<div class="container">
    <div class="center addbox">
        <h1>Suivi du matériel</h1>
        <div class="row">
            <a href="/recherche/genre" class="btn-large light-blue darken-2">
                <i class="material-icons left">search</i>Rechercher du matériel
            </a>
        </div>
        <div class="row">
            <a href="/recherche/stockage" class="btn-large light-blue darken-2">
                <i class="material-icons left">storage</i>Liste des stockages
            </a>
        </div>
        <div class="row">
            <a href="/ajout" class="btn-large light-blue darken-2">
                <i class="material-icons left">add</i>Ajouter du matériel
            </a>
        </div>
    </div>
</div>
{% endblock %}
